*.txt
Client/MobileStar/cocos2d/*
Client/MobileStar/proj.android/*
Client/MobileStar/proj.android-studio/*
Client/MobileStar/proj.linux/*
Client/MobileStar/proj.win8.1-universal/*
Client/MobileStar/proj.win10/*
Client/MobileStar/proj.win32/*
Client/MobileStar/bin/*
Client/MobileStar/out/*

